# venv directories
bin/
lib/
include/
irtex-client/node_modules/
.idea/


pyvenv.cfg
*.pyc
/include/
/irtex/dataset/.ipynb_checkpoints/
/irtex/dataset/cifar-10-batches-py/
/irtex/dataset/cifar10/
/share/
/etc/
iretx/__pycache__/
*.pyc
/media/
/color_layout_descriptor/Untitled.ipynb
/color_layout_descriptor/.ipynb_checkpoints/
/local_feature_descriptor/feature-detection/
/local_feature_descriptor/sift_pickle/cifar/
/local_feature_descriptor/sift_pickle/pascal/
/local_feature_descriptor/sift_pickle/wang/
/local_feature_descriptor/orb_pickle/cifar/
/local_feature_descriptor/orb_pickle/pascal/
/local_feature_descriptor/orb_pickle/wang/
/local_feature_descriptor/ex_ds/wang/
/local_feature_descriptor/empirical_combined/
/local_feature_descriptor/combined_pickle/
/local_feature_descriptor/empirical_combined/
/local_feature_descriptor/combined_pickle/
/local_feature_descriptor/empirical_combined.py
/local_feature_descriptor/Feature Matching.ipynb
/local_feature_descriptor/Harris Corner.ipynb
/local_feature_descriptor/KAZE.ipynb
/local_feature_descriptor/ORB_old.ipynb
/local_feature_descriptor/orb_test.py
/local_feature_descriptor/sift.csv
/local_feature_descriptor/SIFT and ORB Feature extractor.ipynb
/local_feature_descriptor/Untitled.ipynb
/local_feature_descriptor/VOC data prep.ipynb
/local_feature_descriptor/.ipynb_checkpoints/
/color_layout_descriptor/cld.csv
/resnet_features/.ipynb_checkpoints/
/resnet_features/Untitled.ipynb
/local_feature_descriptor/sift_pickle/sift_final.pkl
/local_feature_descriptor/orb_final.pkl
/resnet_features/deeplab_pascal_all.pkl
/resnet20_cifar_10_features/Untitled.ipynb
/resnet20_cifar_10_features/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/segmentation/masks/
/concat_cifar.pkl
/concat_pascal.pkl
/segmentation/CIFAR visual explanation.ipynb
/segmentation/.ipynb_checkpoints/CIFAR visual explanation-checkpoint.ipynb
/segmentation/cifar_segmentation_60k.ipynb
/segmentation/.ipynb_checkpoints/cifar_segmentation_60k-checkpoint.ipynb
/local_feature_descriptor/global_algo1
/local_feature_descriptor/global_algo2
/local_feature_descriptor/global_pascal_algo1
/local_feature_descriptor/global_pascal_algo2
/local_feature_descriptor/iris
/local_feature_descriptor/local and nonlocal comparision.jpg
/local_feature_descriptor/pascal_algo1
/local_feature_descriptor/pascal_algo2
/local_feature_descriptor/cifar_algo1
/local_feature_descriptor/cifar_algo2
/local_feature_descriptor/Decision Rule.ipynb
/local_feature_descriptor/decision_rule_global_explanation.pdf
/resnet_features/deeplab_pascal_new.pkl
/local_feature_descriptor/empirical_similarity.py
/local_feature_descriptor/Local Pickle Modifier.ipynb
/local_feature_descriptor/Local Similarity.ipynb
/local_feature_descriptor/mapping_pascal.pkl
/local_feature_descriptor/Merge Pickle.ipynb
/Model Comparison.ipynb
/.ipynb_checkpoints/Model Comparison-checkpoint.ipynb
/Model Comparison-Cifar.ipynb
/.ipynb_checkpoints/Model Comparison-Cifar-checkpoint.ipynb
/local_feature_descriptor/orb_final_pascal.pkl
/local_feature_descriptor/empirical_sim/pascal_cow_2011_002719.jpg
/segmentation/pascal_mask.pkl
/Pickle Concat.ipynb
/.ipynb_checkpoints/Pickle Concat-checkpoint.ipynb
/resnet_features/Pickle Verification.ipynb
/local_feature_descriptor/Random Query Image Generator.ipynb
/resnet_features/resnet_pascal_updated.pkl
/local_feature_descriptor/rules
/local_feature_descriptor/rules.pdf
/deeplab3_resnet_descriptor/subset_3100_deeplab.pkl
/deeplab3_resnet_descriptor/subset_v3156_deeplab.pkl
/local_feature_descriptor/orb_pickle/test.pkl
/resnet_features/test.pkl
/local_feature_descriptor/Total Random Baseline.ipynb
/Untitled.ipynb
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/segmentation/Visual explanations pascal.ipynb
/segmentation/.ipynb_checkpoints/Visual explanations pascal-checkpoint.ipynb
/local_feature_descriptor/withlocal
/local_feature_descriptor/without_orb_pascal.jpg
/local_feature_descriptor/withoutlocal
/kNN.ipynb
/local_feature_descriptor/kNN.ipynb
/.ipynb_checkpoints/kNN-checkpoint.ipynb
