# venv directories
bin/
lib/
include/
irtex-client/node_modules/
.idea/


pyvenv.cfg
*.pyc
/include/
/irtex/dataset/.ipynb_checkpoints/
/irtex/dataset/cifar-10-batches-py/
/irtex/dataset/cifar10/
/share/
/etc/
iretx/__pycache__/
*.pyc
/media/
/color_layout_descriptor/Untitled.ipynb
/color_layout_descriptor/.ipynb_checkpoints/
color_layout_descriptor/cld_1.csv
color_layout_descriptor/cld_2.csv
region_based_descriptor/moments.csv